@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0
}
li {
	list-style: none
}
em,i {
	font-style: normal
}
img {
	border: 0;
	vertical-align: middle
}
button {
	cursor: pointer
}
a {
	color: rgb(196, 47, 72);
	text-decoration: none
}
html {
	background: #f7f7f7
}
body {
	-webkit-font-smoothing:antialiased;
	font-size: 20px;
	font-family: 'Microsoft YaHei','Heiti SC','Tahoma','Arial','Hiragino Sans GB',"\5B8B\4F53",'sans-serif','Source HanSans SC','Source HanSerif SC',
}